/* ======== Reset ======== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/* ========== Variables ========== */
:root {
  --primary-color: #53b9d9;
  --scondary-color: #0e5d80;
  --primary-text-color: #fff;
  --scondary-text-color: #474747;
  --footer-heading-color: #f4f5f7;
  --footer-text-color: #eeeff4;
  --copy-right-color: #d9dbe1;
  --line-height: 5.4rem;
}
/* ========== fonts ========== */
@font-face {
  font-family: "IRANSansx";
  src: url(./assetse/fonts/IRANSans-web.woff) format(woff);
}
html {
  font-size: 62.5%;
  direction: rtl;
}
body {
  font-family: IRANSansx;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.block {
  padding: 2rem 1.5rem;
}
/* ========== typography ========== */
h1 {
  font-weight: 700;
  font-size: 3.2rem;
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
h3 {
  font-weight: 700;
  font-size: 2rem;
}
h4 {
  font-weight: 500;
  font-size: 1.5rem;
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  color: #474747;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4.5rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

/* ========== Top Navbar ========== */
.hero {
  background-color: var(--primary-color);
}
.top__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.icon__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav__list {
  display: none;
  flex-direction: column;
  width: 100%;
}
.nav__list a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-right: 7rem;
  font-size: 2.5rem;
}
.nav__list a:hover {
  color: var(--scondary-color);
  transition: all 0.2s ease-in-out;
}
/* =========  button  ========= */
.btn {
  padding: 1.2rem 2.5rem 0.6rem;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: IRANSansx;
  box-shadow: rgba(0, 0, 0, 0.1) 0 22px 40px;
}
.btn:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-out;
}
.btn--primary {
  outline: 0;
  border: 0;
  background-color: #f5f5f5;
  color: var(--primary-color);
  font-weight: 700;
}
.btn--scondary {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
}
.btn--download,
.btn--dashboard {
  display: none;
}
.btn__wrapper {
  display: flex;
  flex-direction: row;
}
.toggle-menu {
  background-color: #fff;
  height: max-content;
  border-radius: 8px;
  outline: none;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}
.toggle-menu .bar {
  background: #292d32;
  width: 30px;
  height: 3px;
  border-radius: 30px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.5rem;
  }
  .btn--download,
  .btn--dashboard {
    display: inline-block;
    margin-right: 4rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
  }
  .btn--shop,
  .toggle-menu {
    display: none;
  }
  .icon__wrapper {
    justify-content: space-between;
  }
}
/* ==========  intro  ========== */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__text h1 {
  margin: 7rem 0 2rem;
}

.intro__description {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
}
.intro__text .btn {
  display: block;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .intro {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .intro__text {
    max-width: 55%;
  }
  .intro__text h1 {
    margin-bottom: 3rem;
  }
  .intro__text .btn {
    margin-top: 5rem;
  }
  .intro__description {
    font-size: 3rem;
    line-height: 5.4rem;
  }
}

/*  ========== list-icon ========== */
.list-icon {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.list-icon__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-icon__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.4rem;
  width: 84px;
  height: 84px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 22px 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.list-icon__img:hover {
  transform: scale(1.1);
}
.list-icon__img img {
  max-width: 52px;
  max-height: 52px;
}
.list-icon__title {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .list-icon__img {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    /* padding:2rem; */
  }
  .list-icon__img img {
    max-width: 72px;
    max-height: 72px;
  }
  .list-icon__title {
    font-size: 2rem;
  }
}

/* ========== resiver  ========== */
.resiver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}
.resiver__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 90%;
  order: 3;
}
.resiver h2 {
  order: 2;
  margin-bottom: 2rem;
}
.resiver img {
  max-width: 80%;
  order: 1;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .resiver {
    margin-top: 16rem;
  }
  .resiver__description {
    font-size: 3rem;
    line-height: 6rem;
    max-width: 70%;
  }
  .resiver h2 {
    margin-bottom: 4rem;
  }
  .resiver img {
    margin-bottom: 0;
    margin: 6rem;
    order: 3;
  }
}

/* ========== baby option ========== */

.feature {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #f6f6f6;
}
.feature-text__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.feature h3 {
  color: var(--scondary-color);
  font-size: 1.4rem;
}
.feature__description {
  color: var(--scondary-text-color);
  font-size: 1.2rem;
}
.feature-text__wrapper .btn {
  width: max-content;
}
.feature .btn {
  background-color: var(--scondary-color);
  color: #fff;
  font-size: 1.2rem;
}
.feature img {
  margin-right: -5rem;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .feature {
    height: 430;
  }
  .feature-text__wrapper {
    padding: 7rem 0;
  }
  .feature h3 {
    font-size: 4rem;
  }
  .feature__description {
    font-size: 3rem;
  }
  .feature .btn {
    font-size: 2rem;
  }
  .feature img {
    width: 800px;
    margin-right: 0;
    height: 100%;
  }
}

/* ==========  appliction  ========== */

.appliction {
  padding: 5rem 0;
  height: auto;
  background-color: #fff;
}
.appliction img {
  margin: 0 auto;
  width: 110px;
}

@media screen and (min-width: 768px) {
  .appliction {
    padding: 5rem 0;
  }
  .appliction .feature-text__wrapper {
    justify-content: space-between;
  }
  .appliction img {
    width: 235px;
    height: 430px;
  }
}
.center {
  max-width: 1110px;
  margin: 0 auto;
}
/* ==========  options  ========== */
.options {
  background-color: var(--primary-color);
}
.options_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 160px));
  gap: 2.3rem;
  margin-top: 4rem;
}
.option__item img {
  width: 100%;
  border-radius: 8px;
}
.options h3 {
  display: none;
}
.option__item p {
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .options h3 {
    display: block;
    color: var(--scondary-color);
    margin-top: 5rem;
  }
  .options_items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    gap: 2.5rem;
    margin-top: 5rem;
  }
}

/* ==========  friends  ========== */
.friends {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.friends-text h4 {
  margin-bottom: 2.2rem;
}
.friends-description {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .friends {
    flex-direction: row;
    align-items: center;
    padding: 6rem 0;
    gap: 3rem;
  }
  .friends-text {
    margin-right: 10rem;
  }

  .friends-text h4 {
    margin-bottom: 5rem;
  }
  .friends-description {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
.logo-container {
  position: relative;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}
.logos {
  width: max-content;
  height: max-content;
  margin-top: 1rem;
}
.logos div {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  width: 256px;
  height: 256px;
  border: 3px solid #f1e4ff;
  background-color: #fff;
  padding: 3.8rem;
}
.div2 {
  background-color: #f1e4ff;
  width: 180px;
  height: 180px;
  padding: 3.6rem;
}
.div3 {
  position: relative;
  background-color: #fff;
  width: 105px;
  height: 105px;
}
.div1 span {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 72%;
  width: 100%;
}
.div1 span:nth-child(2) {
  top: 10%;
  width: 100%;
}

.logo {
  width: 60px;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.logo1 {
  position: absolute;
  right: 40%;
  top: -20px;
  z-index: 2;
}
.logo6 {
  position: absolute;
  bottom: -50px;
  z-index: 2;
}
.logo7 {
  position: absolute;
  top: -20px;
}
.logo8 {
  position: absolute;
  bottom: -15px;
  left: -15px;
}
.logo9 {
  position: absolute;
  right: -15px;
  bottom: -15px;
}
@media screen and (min-width: 768px) {
  .logo-container {
    position: relative;
    width: 430px;
    height: 430px;
    margin-left: 12rem;
  }
  .div1 {
    width: 430px;
    height: 430px;
    padding: 6.5rem;
  }
  .div2 {
    background-color: #f1e4ff;
    width: 300px;
    height: 300px;
    padding: 6rem;
  }
  .div3 {
    background-color: #fff;
    width: 175px;
    height: 175px;
  }
  .logo {
    width: 90px;
  }
}
/* ==========  footer  ========== */
.main-footer {
  background-color: var(--scondary-color);
  color: #fff;
}
.big-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
}
.col-footer h5 {
  margin-bottom: 2rem;
  /* display: contents;         */
}
.col-footer li {
  margin-bottom: 1.5rem;
}
.col-footer li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
}
/* .col-footer h5:hover {
  color: var(--scondary-color);
} */
.col-download {
  display: flex;
  flex-direction: column;
}
.small-footer {
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 3rem;
}
.copy-right-text {
  font-size: 1.4rem;
}
.icons-footer img {
  min-width: 20px;
  margin: auto 3rem 1.5rem auto;
}
.col-download div {
  background-color: #000;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: 1rem;
  height: 48px;
  width: 162px;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .main-footer {
    background-color: var(--primary-color);
  }
  .col-footer li a {
    font-size: 2.5rem;
  }
  .col-footer li a:hover {
    color: var(--scondary-color);
  }
  .col-footer h5 {
    margin-bottom: 3rem;
  }
  .small-footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .copy-right-text {
    font-size: 1.8rem;
  }
  .icons-footer img {
    min-width: 30px;
    margin-left: 2rem;
  }
}
